@font-face{
    font-family: 'OS light';
    src: url(../fonts/Open__Sans/OpenSans-Light.ttf);
}
@font-face{
    font-family: 'OS regular';
    src: url(../fonts/Open__Sans/OpenSans-Regular.ttf);
}
@font-face{
    font-family: 'OS bold';
    src: url(../fonts/Open__Sans/OpenSans-Bold.ttf);
}
@font-face{
    font-family: 'OS italic';
    src: url(../fonts/Open__Sans/OpenSans-Italic.ttf);
}
@font-face{
    font-family: 'OS semibold';
    src: url(../fonts/Open__Sans/OpenSans-SemiBold.ttf);
}